---
import Layout from "../../layouts/ServiceLayout.astro";
---
<Layout title="Exit Devices - SafeCracker Inc">
  <main style="max-width: 1240px; margin: 0 auto; padding: 80px 40px;">
    <h1>Exit Devices</h1>
    <p>Content coming soon. Call (619) 794-8355 for immediate assistance.</p>
  </main>
</Layout>


